<!-- Forms in angular -->

<!-- colecting forms data using JS -->
<!-- <div class="form-center">
  <h1>User Form 1</h1>

  <form (submit)="formSubmit($event)">
    <input type="text" placeholder="Name" name="name">
    <br /><br />
    <input type="email" placeholder="Email" name="email">
    <br /><br />
    <input type="text" placeholder="Address" name="address">
    <br /><br />

    <button>Submit</button>
  </form>
</div> -->

<!-- collecting data using the angular: there are two types of forms in angular, Template-Driven Forms and Reactive Forms. also there are two classes of forms, such as FormGroup and FormControl. we use FormGroup to represent the full form. and we apply the FormControl class to each individual input field of form.  -->

<!-- Template-Driven Forms: in this most of the logic and setup is done directly in template and not in component class -->

<div class="form-center">
  <h1>User Form</h1>

  <!-- to capture the data from the form we have to assign the ngForm to a paramter which is #f in this case and have to pass that f to the formSubmit() instead of event, as now this f will act like the event. this will not specifically capture the data of the all form, to capture the data of the all form, we will have to add the ngModel at the end of the each input part of form, as in angular we have to work in the FormControl class  -->

  <form (submit)="formSubmit(f)" #f = 'ngForm' >
    <input type="text" placeholder="Name" name="fullName" ngModel #fullName="ngModel" (change)="getValue(fullName)" required>
    <div class="alert">
      <p>Full Name is required</p>
    </div>
    <br /><br />
    <input type="email" placeholder="Email" name="email" ngModel required>
    <br /><br />
    <input type="text" placeholder="Address" name="address" ngModel >
    <br /><br />

    <button>Submit</button>
  </form>
</div>