<!-- Forms in angular -->

<!-- colecting forms data using JS -->
<!-- <div class="form-center">
  <h1>User Form 1</h1>

  <form (submit)="formSubmit($event)">
    <input type="text" placeholder="Name" name="name">
    <br /><br />
    <input type="email" placeholder="Email" name="email">
    <br /><br />
    <input type="text" placeholder="Address" name="address">
    <br /><br />

    <button>Submit</button>
  </form>
</div> -->

<!-- collecting data using the angular: there are two types of forms in angular, Template-Driven Forms and Reactive Forms -->

<!-- Template-Driven Forms: in this most of the logic and setup is done directly in template and not in component class -->

<div class="form-center">
  <h1>User Form</h1>

  <form (submit)="formSubmit($event)" #f="ngForm" >
    <input type="text" placeholder="Name" name="name">
    <br /><br />
    <input type="email" placeholder="Email" name="email">
    <br /><br />
    <input type="text" placeholder="Address" name="address">
    <br /><br />

    <button>Submit</button>
  </form>
</div>